@using ProxerSearchPlus.Api.Model.Proxer.v1
@model IEnumerable<Entry>

@{
    ViewData["Title"] = "Home Page";
}

<br>
<div class="searchbar">
    <form method="GET">
        <input class="rounded-text-input centered inner-shadow autofit-width" placeholder="Search..." name="query"/>
    </form>
</div>
<br>
<br>
<br>
<div class="listing">
   @foreach (var item in Model)
   {
    <searchresult>
        <div class="sedcard">
            <div class="sedcardimagecontainer">
                <img src="img/Default-Icon-icon.png"/>
            </div>
            <div class="sedcarddescription">
                 @{
                     string name = @item.name;
                     if (@item.name.Length > 30)
                     {
                        name = name.Substring(0, 30) + "...";
                     }
                 }
                <a href="/details/entry/@item.id"><h5>@name</h5></a>
                <p class="highlight">
                    @item.medium :
                    @{
                        double rateCount = item.rate_count;
                        if (rateCount == 0) 
                        {
                            rateCount = 1;
                        }
                        double rating = Math.Round(item.rate_sum / rateCount, 2);
                    } (@rating)
                </p>
            </div>
        </div>
    </searchresult>
   }
</div>
