@using ProxerSearchPlus.Api.Model.Proxer.v1
@model IEnumerable<Entry>

@{
    ViewData["Title"] = "Home Page";
}

<br>
<div class="searchbar">
    <form method="GET">
        <input class="rounded-text-input centered inner-shadow autofit-width" placeholder="Search..." name="query"/>
    </form>
</div>
<br>
<div class="live-results">
   @foreach (var item in Model)
   {
       <p class="highlight">
           @item.medium :
           <a href="/details/entry/@item.id">@item.name</a>
           @{
               double rateCount = item.rate_count;
               if (rateCount == 0) 
               {
                   rateCount = 1;
               }
               double rating = item.rate_sum / rateCount;
           }
           (@rating)
        </p>
   }
</div>
